#requirements.txt

numpy
cohere
smart-open
jsonlines
anthropic
scikit-learn
evaluate
scipy
pandas
sqlitedict
torch
transformers
accelerate
ai21
dotenv
IPython
google-generativeai
openai
azure-ai-inference
azure-core
azure-identity
#azure-ai-openai
fastapi
uvicorn[standard]
matplotlib
sentence-transformers
faiss-cpu
tiktoken